<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
<property>
<name>fs.defaultFS</name>
<value>hdfs://{{ namenode_hosts[0] }}:8020/</value>
<description>
Where HDFS NameNode can be found on the network
</description>
</property>
</configuration>
