tickTime={{ zookeeper_ticktime }}
dataDir={{ zookeeper_datadir }}
clientPort={{ 2181 }}
initLimit={{ zookeeper_initlimit }}
syncLimit={{ zookeeper_synclimit }}

{% for host in groups['zookeeper'] %}
server.{{ ( groups['zookeeper'].index(host)) + 1 }}={{hostvars[host]['ansible_hostname'] }}:2888:3888
{% endfor %}
